.movie {
  .movie__link {
    display: block;
    position: relative;
    overflow: hidden;
  }
  .movie__poster {
    height: 400px;
    object-fit: cover;
    img {
      height: 100%;
    }
    .no-poster {
      background-color: #fff;
      height: 100%;
      font-size: 30px;
      display: flex;
      text-align: center;
      align-items: center;
      color: rgba(0, 0, 0, 0.5);
    }
  }
  .movie__info {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 0.5rem 1rem;
    transition: all 0.3s linear;
    transform: translateY(100%);
    .movie__info-row:last-child {
      display: flex;
      justify-content: space-between;
    }
  }
  .movie__rating {
    display: flex;
    align-items: center;
    .icon {
      color: #f4c519;
      margin-right: 3px;
    }
  }
  .movie__title {
    font-size: 15px;
    margin-bottom: 5px;
  }
  .movie__originalTitle {
    font-size: 13px;
    margin-bottom: 5px;
  }
  .movie__year {
    font-size: 13px;
  }
  &:hover .movie__info {
    visibility: visible;
    transform: translateY(0);
  }
}
