.pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  button {
    color: #fff;
    background: #000;
    padding: 10px;
    border-radius: 5px;
    flex-basis: 34px;
    margin: 0 10px;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: #49a6e9;
    }
    &[disabled] {
      cursor: auto;
      background: rgba(0, 0, 0, 0.5);
    }
    &[aria-current] {
      background-color: #49a6e9;
    }
  }
}
