.search__main {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
  padding: 3rem 0;
  .search__form {
    margin-bottom: 50px;
    .title {
      color: #112a42;
      font-size: 40px;
      margin-bottom: 25px;
    }
    form {
      input {
        border: none;
        width: 100%;
        max-width: 600px;
        height: 45px;
        border-radius: 5px;
        padding-left: 10px;
        font-size: 20px;
      }
    }
  }
  .not-found {
    margin-top: 5px;
    color: #bb2524;
    font-size: 15px;
    text-transform: capitalize;
    letter-spacing: 2px;
  }
  .movie__poster {
    img {
      width: 267px;
    }
  }
}
