$mobile: 400px;
$tablet: 820px;
$laptop: 1020px;

@mixin mobile {
  @media screen and (max-width: #{$mobile}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: #{$tablet}) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width : #{$laptop}) {
    @content;
  }
}
